body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.top-heading{
    font-size: 60px;
}
.orange-color{
    color: orange;
}
.top-item{
    padding-top: 100px;
}
.flexible-container{
    display: flex;
    
}
.top-header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
    
}
.top-header img{
    margin-top: 50px;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.gradiant-btn{
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    background-image: linear-gradient(orange, tomato);
    border-radius: 10px;
    margin-top: 100px;
}
.middle-bar{
    height: 500px;
}
.middle-bar img{
    height: 100%;
    width: 100%;
    margin: auto;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-top: 0px;
}
.about-me-area{
    padding-top: 100px;
}
.para{
   width: 70%;
   text-align: justify;
   padding-bottom: 50px;
}
h2{
    font-size: 40px;
}
.heading{
    text-align: center;
    font-size: 45px;
    color: gray;
}
.header p{
    text-align: center;
    padding-bottom: 50px;
}

.section-item{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding:20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 70px 70px 0px 0px;

}
.section-item img{
    border-radius: 70px 70px 0px 0px;
}
.team-item1{
    width: 20%;
    margin-left: 3%;
    margin-right: 3%;
    padding:20px;
    box-shadow: 10px 10px 40px gray;
    border-radius:  70px 0px  0px 70px;

}
.team-item2{
    width: 20%;
    margin-left: 3%;
    margin-right: 3%;
    padding:20px;
    box-shadow: 10px 10px 40px gray;
    border-radius:   0px 70px 70px 0px ;

}

#receipe img{
    width: 100%;
}
.food-review{
    background-image: url(images/shapes/Frame58.jpg);
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    padding-top: 100px;
}

footer{
    padding-top: 100px;
    height: 300px;
    text-align: center;
    background-color: black;
    color: gray;
}
footer p{
    color:gray;
}
.subscriber-area{
    width: 80%;
    margin: auto;
    box-shadow: 10px 10px 60px rgb(201, 201, 201);
    height: 200px;
    margin-bottom: 50px;
    border-radius: 20px;
    text-align: center;
}
.subscriber-item{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding:20px;
}
.subscriber-area h1, .subscriber-area p{
   font-size: 30px;
   text-align: center;
}
.subscriber-area p{
    font-size: 20px;
    text-align: center;
 }
 .food-review{
     padding-bottom: 100px;
 }